* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "josefin-slab" , serif;
}

input:hover{
    background-color: red;
}

audio:hover{
    background-color: orange;
}

.container1 {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.3)), url(Happy\ Birthday.jpg) center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: right;
    align-items: center;
}

.card1 {
    width: 360px;
    height: 560px;
    position: relative;
    right: 25px;
    perspective: 1000px;
}

.left-side1 {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.3)), url(birthday.jpg) center no-repeat;
    background-size: cover;
    background-position: 0;
    width: 50%;
    height: 100%;
    transform: rotateY(0deg);
    transform-origin: left;
    transition: transform 6s;
}

.right-side1 {
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.3)), url(birthday.jpg) center no-repeat;
    background-size: cover;
    background-position: -180px;
    width: 50%;
    height: 100%;
    transform: rotateY(0deg);
    transform-origin: right;
    transition: transform 6s;
}

.back-side1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    background-color: hsla(133, 75%, 47%, 0.562);
    background: linear-gradient(rgba(126, 99, 99, 0.5), rgba(0,0,0,0.7)), url(Arwish.jpg) center no-repeat;
    z-index: -1;
    transform: translateZ(-300px);
    transition: z-index 0.4s step-end, transform 1s;
}

.card1:hover .left-side1 {
    transform: rotateY(-360deg);
}

.card1:hover .right-side1 {
    transform: rotateY(360deg);
}

.card1:hover .back-side1 {
    transform: translateZ(0);
    z-index: 1;
}

.container2 {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.3)), url(Happy\ Birthday.jpg) center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: left
    ;
    align-items: center;
}

.card2 {
    width: 360px;
    height: 560px;
    position: relative;
    left: 50px;
    perspective: 1000px;
}

.left-side2 {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.3)), url(birthday.jpg) center no-repeat;
    background-size: cover;
    background-position: 0;
    width: 50%;
    height: 100%;
    transform: rotateY(0deg);
    transform-origin: left;
    transition: transform 6s;
}

.right-side2 {
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.3)), url(birthday.jpg) center no-repeat;
    background-size: cover;
    background-position: -180px;
    width: 50%;
    height: 100%;
    transform: rotateY(0deg);
    transform-origin: right;
    transition: transform 6s;
}

.back-side2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    background-color: #80008091;
    background: linear-gradient(rgba(126, 99, 99, 0.5), rgba(0,0,0,0.7)), url(Cute\ Sister.jpg) center no-repeat;
    z-index: -1;
    transform: translateZ(-300px);
    transition: z-index 0.4s step-end, transform 1s;
}

.card2:hover .left-side2 {
    transform: rotateY(-360deg);
}

.card2:hover .right-side2 {
    transform: rotateY(360deg);
}

.card2:hover .back-side2 {
    transform: translateZ(0);
    z-index: 1;
}

.greet1 {
    color: #fff;
    font-size: small;
    background-color: rgba(0,0,0,.4);
    width: 90%;
    text-align: center;
    padding: 10px;
}

.body1 {
    color: yellowgreen;
    font-size: small;
    background-color: rgba(0,0,0,.2);
    width: 90%;
    text-align: center;
    padding: 10px;
}

.greet2 {
    color: #fff;
    font-size: small;
    background-color: rgba(0,0,0,.4);
    width: 90%;
    text-align: center;
    padding: 10px;
}

.body2 {
    color: rgb(205, 177, 50);
    font-size: small;
    background-color: rgba(0,0,0,.4);
    width: 90%;
    text-align: center;
    padding: 10px;
}